@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Syne:wght@400;700;800&display=swap');

html,body{
    font-family: 'DM Sans', sans-serif !important;
    letter-spacing: 0.3px;
    height: 100vh;
}

/* --------------Hero section -------------- */
#hero-section{
    min-height: 100vh;
    flex-direction: column;
    background: url("hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: calc(80px + 10rem);
}

.hero-subtitle{
    font-size: 1.5rem;
}

.hero-title{
    font-size: 4rem;
}

.outer-headings {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.inner-headings {
    height: 5rem;
    line-height: 5rem;
    font-size: 4rem;
    overflow: hidden;
}
  
.inner-headings span {
    position: relative;
    color: crimson;
    animation: animation 8s ease infinite;
    display: inline-block;
    padding-left: 15px;
}
@keyframes animation {
    0%, 20% {
      transform: translateY(0%);
    }
    25%, 45% {
      transform: translateY(-100%);
    }
    50%, 70% {
      transform: translateY(-200%);
    }
    75%, 95% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(-400%);
    }
}

  